html {
  background: url("../images/dark-honeycomb.png") repeat;
}

body {
  background-color: transparent;
  font-family: Roboto, sans-serif;
}

h1, h2, h3, h4, h5, h6, .btn, .card-header {
  font-family: Oswald, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.btn {
  font-weight: 300;
  font-size: 14px;
}

.name {
  text-transform: none;
}

.title {
  color: #ffffff;
  margin-bottom:60px;
}

.chat-icon {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #191919;
  position: absolute;
  bottom: 15px;
  left:25px;
  padding: 10px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

#chat-wrapper {
  width:400px;
  position: absolute;
  bottom: 0;
  left: 125px;
  z-index: 99;

}

#chat, #message-txt, #message-button {
  font-size: 14px;
}

#chat, #message-txt {
  background: rgba(255, 255, 255, 0.6);
  color: #191919;
  border-color: #292929;
}



#chat {
  position: relative;
  margin-bottom: 10px;
  height: 200px;
}

.choice img{
  max-height: 150px;
  transition: all 1s;
}

.choice.disabled {
  filter: grayscale(80%) opacity(40%);
}