#chat-wrapper {
  width:400px;
  position: absolute;
  bottom: 0;
  left: 25px;
}

#chat {
  position: relative;
  margin-bottom: 10px;
  height: 200px;
}

.choice img{
  max-height: 150px ;
}

.choice.disabled {
  filter: grayscale(80%) opacity(40%);
  transition: all 1s;
}